.buy-now{
    margin: 52px 0px;
    padding: 15px 36px;
    width: 175px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    background-color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.buy-now:hover{
    background-color: #9d8665;
}

#booking-tickets{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 60, 60, 0.5);
    z-index: 10;
    left: 0px;
    top: 0px;
}

.booking-tickets-wrapper{
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto;
    column-gap: 40px;
    grid-template-areas: "head total"
                        "info total"
                        "tickets total";
    width: 60%;
    height: 70%;
    padding: 5% 10%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 5px 5px black;
    z-index: 11;
}

.booking-tickets-wrapper > header{
    grid-area: head;
}

.booking-tickets-wrapper > .booking-tickets-total{
    grid-area: total;
    height: 100%;
    border: #000000 solid 3px;
}

.booking-tickets-wrapper > .booking-tickets-info{
    grid-area: info;
}

.booking-tickets-wrapper > .booking-tickets-entry{
    grid-area: tickets;
}



.show-booking-tickets{
    animation: show-tickets 0.5s ease-in-out;
}

.hidden{
    visibility: hidden;
}

@keyframes show-tickets{
    0% {
        left: -100%;
    }
    100%{
        left: 10%;
    }
}
